body {
    font-family: sans-serif;
    text-align: center;
}

#chart-container {
    width: 80%;
    margin: 0 auto;
}

#chart {
    width: 100%;
    height: 400px;
}

#country-data-container {
    width: 80%;
    margin: 50px auto;
}

#country-data {
    width: 100%;
    border-collapse: collapse;
}

#country-data th,
#country-data td {
    padding: 10px;
    border: 1px solid #ccc;
}

#controls-container {
    margin-top: 50px;
}

label {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f67280;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #c06c84;
}
